apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo
  namespace: demo-namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      nodeSelector:
        instance-type: e2-micro
      containers:
        - name: demo
          image: us-central1-docker.pkg.dev/sample-cloud-463104/sample-cloud-artifact/demo
          ports:
            - containerPort: 8080
          env:
            - name: MESSAGE
              value: "Hello World from GKE!!"
---
apiVersion: v1
kind: Service
metadata:
  name: demo-service
spec:
  type: NodePort
  selector:
    app: demo
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080